/*Paramètres principaux*/
* {
    box-sizing: border-box;
    line-height: 1.5;
}

body {

    font-family: serif;
    font-size: 62.5%;
}

#wrapper {
    font-family: BenchNine, serif;
    color:black;
    width:100%;

}

header {
    text-align: center;

}

nav {

    background-color: #ae2123;
}

section{
    font-size: 1.6em;
    box-shadow: 2px 2px 5px
    #aaa;
    margin: 0 10px 0 10px;
}
footer{

    background-color: rgba(231, 222, 222, 0.51);

}


/*Mise en page contenu principale*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8,auto);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-areas:
            "main-header"
            "main-nav"
            "laUne"
            "horaire"
            "adresse"
            "portfolio"
            "semaine"
            "main-footer";
}

.main-header{
    grid-area: main-header;
}
.main-nav{
    grid-area: main-nav;
}

.laUne{
    grid-area: laUne;
}

.horaire{
    grid-area: horaire;
}
.adresse{
    grid-area: adresse;
}

.portfolio{
    grid-area: portfolio;
}

.semaine{
    grid-area: semaine;
}
.main-footer{
    grid-area: main-footer;
}


.main-header img{
    width:50%;
}



/*Mise en page*/
header h1{
    font-size: 5em;
    color: #527bea;
    font-family: ChelaOne, serif;
}

.main-nav li{
    color: #ffffff;
    font-size: 2em;
    margin: 0.5em;

}

#search-input {
    border-radius: 20px;
    border: none;
    margin: 0 0 0.5em 0.5em;

}

.section_item{
    padding: 1em;
    border: none;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: left;
}


/*Propriétés communes à plusieurs balise*/
.btn_titre {
    width: 150px;
    height: 50px;
    background-color: red;
    color: #ffffff;
    padding: 1em;
    border: none;
    text-align: center;
    margin: 0.5em 0 0.5em 1em;
}

.btn{
    background-color: #527bea;
    color: #ffffff;
    border-radius: 20px;
    margin: 0.8em auto;
}




/*Tableau horaire*/
table.blueTable {
    background-color: #FFFFFF;
    width: 95%;
   margin: 20px auto;
    text-align: center;
}
table.blueTable td, table.blueTable th {
    padding: 3px 2px;
}
table.blueTable tr:nth-child(even) {
    background: #C4C4C4;
}
table.blueTable thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
}
table.blueTable thead th {
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}
table.blueTable tfoot td {
    font-size: 14px;
}
table.blueTable tfoot .links {
    text-align: right;
}
table.blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}



@media screen and (min-width: 768px){

    .grid-container{
        grid-template-columns:  repeat(8, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas:
    "main-header main-header main-header main-header main-header main-header main-header main-header"
    "main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav"
    "laUne laUne laUne laUne laUne horaire horaire horaire"
    "laUne laUne laUne laUne laUne adresse adresse adresse"
    "laUne laUne laUne laUne laUne portfolio portfolio portfolio"
    "semaine semaine semaine semaine semaine semaine semaine semaine"
    "main-footer main-footer main-footer main-footer main-footer main-footer main-footer main-footer"
    ;


    }
}





/*Police de caractère Ubuntu*/

@font-face {
    font-family: "BenchNine";
    src: url('../fonts/BenchNine-Bold.ttf') format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "BenchNine";
    src: url("../fonts/BenchNine-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ChelaOne";
    src: url("../fonts/ChelaOne-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}